/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
html{
    direction: rtl;
    font-family: "Open Sans", sans-serif;
    background-color: #e2d7c542;
  }
  body{
    margin: 0;
    text-align: center;
  }