<p>mitnadev-space works!</p>
<div id="mitnadev-space-page">
    <div class="logo-wrap-banner">
      <img src="../assets/logo.png">
    </div>
    <div class="buttons-wrap">
      <!-- <button  mat-raised-button (click)="ghow()">צפייה במערכת השעות</button> -->
      <button  mat-raised-button (click)="update()" >עדכון פרטים</button>
      <button  mat-raised-button (click)="go()" >התנתק מהאתר</button>
      <button  mat-raised-button (click)="add()" >הוסף התנדבות</button>
      <!-- <button  mat-raised-button (click)="up()"> מחק  התנדבות</button> -->
    </div>
  </div>
