<p>needhelp-space works!</p>

<div id="needHelp-space-page">
    <div class="logo-wrap-banner">
      <img src="../assets/logo.png">
    </div>
    <div class="buttons-wrap">
      <!-- <button mat-raised-button (click)="show()"  >צפייה במערכת השעות</button> -->
      <button mat-raised-button  (click)="update()">עדכון פרטים אישיים</button>
      <button mat-raised-button   (click)="go()"> התנתק מהאתר</button>
      <button mat-raised-button   (click)="add()"> הוסף בקשת עזרה</button>
     <!-- <button  mat-raised-button  (click)="up()"> מחק  התנדבות</button> -->
    </div>
  </div>
