<form  class="login-from"(ngSubmit)="login()">
    
    <div class="mb-3">
        <!-- <label class="form-label" for="mail">מייל</label> -->
        <!-- <input class="form-control" id="mail" type="email" name="email" [(ngModel)]="mail"> -->
        <mat-form-field appearance="fill">
            <mat-label>מייל</mat-label>
            <input matInput placeholder=" מייל" type="email" name="email" [(ngModel)]="mail">
          </mat-form-field>
    </div>
    <div class="mb-3">
        <!-- <label class="form-label" for="password">סיסמה</label> -->
        <!-- <input class="form-control" id="password" type="password" name="password" [(ngModel)]="password"> -->
        <mat-form-field appearance="fill">
            <mat-label>סיסמה</mat-label>
            <input matInput placeholder=" סיסמה" type="password" name="password" [(ngModel)]="password">
          </mat-form-field>
    </div>

    <input type="submit" value="save">
</form >
   

    <button mat-raised-button routerLink="/register">עדין אין לך חשבון? הירשם</button>
    <!-- <button (click)="newHelpRequest()">במה  נוכל לעזור לך?</button> -->
    <!-- <button (click)="volunteerDetailes()">במה  תוכל לעזור לנו?</button> -->
    <button  mat-raised-button (click)="mitnadevSpace()">במה  תוכל לעזור לנו?</button>
     <button mat-raised-button (click)="needhelpSpace()">במה  נוכל לעזור לך?</button>
   